/* get rid top and side white space bars using margin and height */
html {
overflow:hidden;
overflow-x: hidden;
overflow-y: hidden;
}

body {
margin: 0;
overflow:hidden;
overflow-x: hidden;
overflow-y: hidden; 
}

ul {
padding:0;
margin:0;
line-height:95%;
list-style-type: none;
}

#container
{
float:left;
background-color:black;

overflow:hidden;
overflow-x: hidden;
overflow-y: hidden;
}

#header
{
width:1903px;
width:100%;
height:5vh;
background-color:brown;
}

#left
{
float:left;
position:relative;
width:100px;
height:100px;
background-color:lightblue;
color:white;
font-family: Tahoma, Geneva, sans-serif;

overflow:hidden;
overflow: scroll;
overflow-x: hidden;
}	

#left ul {
width: inherit;
float: left;
list-style-type: none;
}

#left li {
width:inherit;
height:inherit;
float:left;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
text-overflow:ellipsis;
white-space: wrap;
font-size:65%;

overflow:hidden;
}

#left li.even {
color:white;
background-color: grey;
}

#left li.odd {
color:grey;
background-color: white;
}

#center
{
float:left;
position:relative;
width:100px;
height:100px;
background-color:grey;
}

#right
{
float:right;
position:relative;
width:100px;
height:100px;
background-color:blue;

overflow:hidden;
overflow-x: hidden;
overflow-y: hidden;
}

