/* get rid top and side white space bars using margin and height */
html {
overflow:hidden;
overflow-x:hidden;
overflow-y:hidden;
}

body {
margin: 0;
overflow:hidden;
overflow-x:hidden;
overflow-y:hidden; 
}

/* ul {
padding:0;
margin:0;
line-height:95%;
list-style-type: none;
} */

#container
{
position:relative;
background-color:black;
width:300px;
height:500px;

overflow:hidden;
overflow-x:hidden;
overflow-y:hidden;

display:inline-block;
/* display:inline-block;
vertical-align:top; */
}

#header
{
width:100%;
height:5vh;
background-color:brown;

}

#left
{

position:relative;
width:100px;
height:100px;
background-color:lightblue;
color:white;
font-family:Tahoma, Geneva, sans-serif;

/* overflow:hidden; */
/* overflow:scroll; */
overflow-x:hidden;

display: inherit;
}	

#center
{
position:relative;
width:100px;
height:100px;
background-color:grey;

display: inherit;
}

#right
{
position:relative;
width:100px;
height:100px;
background-color:blue;

overflow:hidden;
overflow-x:hidden;
overflow-y:hidden;

display: inherit;
}

#left ul {
list-style-type: none;
}

#left li {
width:inherit;
height:inherit;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
text-overflow:ellipsis;
white-space:wrap;
font-size:100%;

overflow:hidden;
}

#left li.even {
color:white;
background-color:black;
}

#left li.odd {
color:black;
background-color:white;
}
