/* get rid top and side white space bars using margin and height */

body {
margin: 0; 
}

ul {
padding:0;
margin:0;
line-height:95%;
list-style-type: none;
}

#container
{
overflow:hidden;
float:left;
}

#header
{
width:1903px;
width:100%;
height:5vh;
background-color:brown;
}

#left
{

float:inherit;
position:relative;
width:200px;
height:900px;
overflow: scroll;
overflow-x: hidden;
background-color:grey;
color:white;
font-family: Tahoma, Geneva, sans-serif;

}	

#left ul {
width: inherit;
float: left;
list-style-type: none;
}

#left li {
width:inherit;
float:left;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
overflow:hidden;
text-overflow:ellipsis;
font-size:65%;
}

#center
{

float:inherit;
position:relative;
width:1450px;
height:900px;
background-color:grey;
}

#right
{

float:right;
position:relative;
width:200px;
height:900px;

background-color:blue;

}

