body
{
font-size: 0;
margin: 0;
}

#container
{
z-index: 1;

font-size: 0;

scroll: hidden;
overflow-y: hidden;

background-color: black;

position: relative;
display: inline-block;
}

#settingsmenu
{
z-index: 2;

font-size: 12px;
background-color:white;
color: black;
font-family: Tahoma, Geneva, sans-serif;

position: absolute;
display: none;

}

#header
{
z-index: 1;

font-size: medium;

background-color: lightgray;

position: relative;
display: inline-block;
}

#left
{
z-index: 1;

-webkit-font-smoothing: antialiased;
font-size: medium;

background-color: darkgray;
color: white;
font-family: Tahoma, Geneva, sans-serif;

overflow:scroll;
overflow-x:hidden;

position:relative;
display:inline-block;
}

#center
{
z-index: 1;

font-size: medium;

background-color: gray;

position: relative;
display: inline-block;
}

#right
{
z-index: 1;

font-size: medium;
position: relative;

background-color: darkgray;

position: relative;
display: inline-block;
}

#left ul
{
padding:0;
margin:0;

cursor: pointer;

line-height: 95%;
list-style-type: none;
}

#left li
{
border-radius: 15px;
border-color: black;
border: 0px solid;

text-overflow: hidden;
white-space: wrap;
font-size: 75%;

overflow:hidden;
}

#left li.even
{
color: black;
background-color: white;
}

#left li.odd
{
color: white;
background-color: gray;
}

#left li.followed
{
color: black;
background-color: #FDF5FD; /* verylightpink */
}

.unselectable {
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
}

/*
 * Custom Fonts
 * The following should not be editted.
 */

@font-face {
font-family: 'SansationLight';
src: url('./SansationLight.eot');
src: local('SansationLight'), url('./SansationLight.woff') format('woff'), url('./SansationLight.ttf') format('truetype');
}

@font-face {
font-family: "Flaticon";
src: url("flaticon.eot");
src: url("flaticon.eot#iefix") format("embedded-opentype"),
url("flaticon.woff") format("woff"),
url("flaticon.ttf") format("truetype"),
url("flaticon.svg") format("svg");
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_423">Text with this font applied</p> */
.senlightfont {
    font-family: 'SansationLight' !important;
} /* Font downloaded from FontsForWeb.com */

/* The following needs to be called before flaticon can be used. */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after
{
font-family: Flaticon;
font-size: 23px;
}

.glyph {
    display: inline-block;
    position: relative;
    text-align: left;
}

.flaticon-arrowheads3:before {
content: "\e000";
}
.flaticon-right39:before {
content: "\e001";
}
.flaticon-two123:before {
content: "\e002";
}
