/* get rid top and side white space bars using margin and height */
html {
overflow:hidden;
overflow-x:hidden;
overflow-y:hidden;
}

body {
font-size: 0;
margin: 0;
overflow:hidden;
overflow-x:hidden;
overflow-y:hidden; 
}

#container
{
position:relative;
background-color:black;
width:400px;
height:400px;

overflow:hidden;
overflow-x:hidden;
overflow-y:hidden;

display:inline-block;
}

#header
{
font-size: medium;
width:100%;
height:26px;
background-color:lightgreen;
}

#left
{
-webkit-font-smoothing: antialiased;
font-size: medium;
position:relative;
width:100px;
height:100px;
background-color:lightblue;
color:white;
font-family:Tahoma, Geneva, sans-serif;

overflow:scroll;
overflow-x:hidden;

display: inherit;
}	

#center
{
font-size: medium;
position:relative;
width:100px;
height:100px;
background-color:grey;

display: inherit;
}

#right
{
font-size: medium;
position:relative;
width:100px;
height:100px;
background-color:blue;

overflow:hidden;
overflow-x:hidden;
overflow-y:hidden;

display: inherit;
}

#left ul {
width:inherit;
height:inherit;
padding:0;
margin:0;

line-height:95%;
list-style-type: none;
}

#left li {
width:inherit;
height:inherit;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;

text-overflow:ellipsis;
white-space: wrap;
font-size: 75%;

overflow:hidden;
}

#left li.even {
color:black;
background-color:white;
}

#left li.odd {
color:white;
background-color:grey;
}

@font-face {
font-family: 'SansationLight';
src: url('./SansationLight.eot');
src: local('SansationLight'), url('./SansationLight.woff') format('woff'), url('./SansationLight.ttf') format('truetype');
}

@font-face {
font-family: "Flaticon";
src: url("flaticon.eot");
src: url("flaticon.eot#iefix") format("embedded-opentype"),
url("flaticon.woff") format("woff"),
url("flaticon.ttf") format("truetype"),
url("flaticon.svg") format("svg");
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_423">Text with this font applied</p> */
.senlightfont {
	font-family: 'SansationLight' !important;
} /* Font downloaded from FontsForWeb.com */

/* The following needs to be called before flaticon can be used. */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after 
{   
font-family: Flaticon;
font-size: 23px;
}

.glyph {
    display: inline-block;
	position:relative;
	text-align: left;
}

.flaticon-arrowheads3:before {
content: "\e000";
}
.flaticon-right39:before {
content: "\e001";
}
.flaticon-two123:before {
content: "\e002";
}


